aside {
  background-color: #E2E1DE;;
  height: 100vh;
  width: min(var(--aside-width), 100vw);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  width: 80px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 4;
    font-size: 30px;
}

.headerLink {
    width: 15%;
}
.headerLogo{
  width: 100%;
}

.header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  justify-content: space-around;
  width: 72%;
  @media (min-width: 45em) {
    display: flex;
    grid-gap: 1rem;
    margin-left: 3rem;
  }
}

.header-menu-item {
  cursor: pointer;
  font-size: 30px;
  color: white;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto;
}

.header-ctas > * {
  min-width: fit-content;
}
/* Mobile First */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-menu-mobile-toggle {
  display: block;
  background: none;
  border: none;
  font-size: 40px !important;
  cursor: pointer;
  color: white;
}

.mobile-cart {
  display: block;
}

/* Ocultar menú desktop en mobile */
.header-menu-desktop {
  display: none;
}



/* Menú mobile en el Aside */
.header-menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* padding: 2rem; */
  padding: 25% 0% 0% 5%;
}

/* Desktop */
@media (min-width: 768px) {
  .header-menu-mobile-toggle {
    display: none;
  }
  
  .mobile-cart {
    display: none;
  }
  .header-menu-mobile {
    display: none;

  }
  .header-menu-desktop {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
  }
  .cartToogleMobile {
    display: none;
  }
  .cartBadgeMobile {
    display: none;
  }
  .cartBadgeDesktop {
    display: contents;
  }
}
@media (max-width:768px) {
  .headerLink {
    width: 46%;
  }
  .cartBadgeDesktop {
    display: none;
  }
}